@import "tailwindcss";

body {
  @apply text-white font-sans;
  background: #2c2d6b;
  background: linear-gradient(180deg, rgb(38, 38, 70) 0%, rgb(20, 20, 33) 65%);
  background-attachment: fixed;
}

.container {
  @apply max-w-6xl mx-auto p-4;
}