@import "tailwindcss";

body {
  @apply text-white font-sans;
  background: #2c2d6b;
  background: linear-gradient(180deg, rgb(21, 21, 33) 0%, rgba(24, 24, 45, 1) 100%);
  background-attachment: fixed;
}

.container {
  @apply max-w-6xl mx-auto p-4;
}